<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQWPF.Properties.Settings.testDatabaseConnectionString"
            connectionString="Data Source=LAPTOP-D4M2AMNK\POLY;Initial Catalog=testDatabase;Persist Security Info=True;User ID=sa;Password=dbblmorse2002;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="LINQWPF.Properties.Settings.StudentsInventoryConnectionString"
            connectionString="Data Source=LAPTOP-D4M2AMNK\POLY;Initial Catalog=StudentsInventory;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>